<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>pkContextCMSPlugin</name>
  <channel>pear.symfony-project.com</channel>
  <summary>CMS featuring in-context editing, version control, custom slots as Symfony modules</summary>
  <description>A Symfony 1.2 and Doctrine-based CMS that emphasizes in-context editing. All slot types are implemented as Symfony modules, with all the flexibility that implies. Version control is implemented, permitting easy rollback of all edits. jQuery is used to implement AJAX features.
  </description>
  <lead>
    <name>Tom Boutell</name>
    <user>boutell</user>
    <email>tom@punkave.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.3.0</max>
        <exclude>1.3.0</exclude>
      </package>
      <package>
        <name>sfDoctrineGuardPlugin</name>
        <channel>plugins.symfony-project.org</channel>
        <min>3.0.0</min>
        <max>4.0.0</max>
        <exclude>4.0.0</exclude>
      </package>
      <package>
        <name>pkToolkitPlugin</name>
        <channel>plugins.symfony-project.org</channel>
        <min>0.5.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
      <package>
        <name>sfJqueryReloadedPlugin</name>
        <channel>plugins.symfony-project.org</channel>
        <min>1.2.4</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog></changelog>
</package>
