/* == */
/* == Apostrophe UI Controls == */
/* == */

.pk-area
{
/*	z-index:599;*/
position: relative;
float: left;
width: 100%;
margin: 10px 0;
}

.pk-slots
{
position: relative;
float: left;
width: 100%;
}


/* Area History Table */

.pk-history-browser
{/*This positions history vertically inside the browser */
	position: absolute;
top: 0px; /* This changes with history button offset*/
	left: 50%;
margin-left: -480px;
float: left;
width: 960px;
clear: both;
z-index: 999;
overflow: hidden;
display: none;
border-top: 10px solid #eee;
border-bottom: 40px solid transparent;
}

.pk-history-browser h3
{
font-size: 16px;
color: #666;
float: left;
/*	width: 100%;*/
width: 920px;
margin: 0;
padding: 10px;
clear: both;
border: 10px solid #eee;
border-top: 0;
border-bottom: 0;
background-color: #fff;
}

a.pk-history-browser-view-more
{
float: left;
width: 100%;
height: 100%;
display: inline;
padding: 8px;
}

a.pk-history-browser-all:hover
{
background-color: #eee;
}

.pk-history-browser-crop
{/*This CAN make history a scrollable box, sets width to be width of site */
width: 940px;
margin: 0;
border: 10px solid #eee;
border-top: 1px solid #eee;
float: left;
clear: both;
}

.pk-history-browser table
{
width: 100%;
table-layout: fixed;
border-bottom: 1px solid #eee;
font-size: 11px;
color: #333;
background-color: #fff;
}

.pk-history-browser thead th
{
font-weight: bold;
padding: 8px 4px;
border-bottom: 1px solid #eee;
}

.pk-history-browser tbody tr:hover
{
background-color: #f0f0f0;
}

.pk-history-browser tbody td
{
overflow: hidden;
white-space: nowrap;
height: 30px;
vertical-align: middle;
padding: 0 4px;
}

.pk-history-browser tfoot td
{
border-top: 1px solid #eee;
/*	padding: 8px 4px;*/
}

.pk-history-browser .id
{
width: 10%;
}

.pk-history-browser .date
{
width: 15%;
}

.pk-history-browser .editor
{
width: 15%;
}

.pk-history-browser .preview
{
width: 60%;
}

.pk-history-preview-notice
{
display: none;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
z-index: 999;
background: #fff;
color: #d4c;
border-bottom: 1px solid #eee;
}

.pk-history-preview-notice div
{
float: left;
margin: 10px;
}

.pk-page-overlay /*This will inherently have issues with IE7 that will need to be resolved later. */
{
z-index: 998;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
width: 100%;
display: none;
background-color: #fff;
}
/* == */
/* == SLOT STYLES == */
/* == */

.pk-slot
{/* .pk-slot is the class for ALL Slots */
position: relative;
float: left;
width: 100%;
min-height: 20px;
margin-bottom: 10px;
font-size: 12px;
}


/* pk-messages ?? The idea that a message, help, or something needs to be communicated about a slot */
.pk-messages
{
}

.pk-messages .background .pk-i
{
display: none;
}

/* Temporarily Hide pk-messages for slot types that aren't using them */
.pkContextCMSVideo .pk-messages,
.pkContextCMSSlideshow .pk-messages,
.pkContextCMSImage .pk-messages,
.pkContextCMSText .pk-messages,
.pkContextCMSRawHTML .pk-messages
{
display: none;
}

/* Rich Text Slots Use the .pk-messages structure */
.pkContextCMSRichText .pk-slot-messages
{/*This is the double-click-to-edit thing */
	float: left;
display: none;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
width: 100%;
z-index: 1;
cursor: pointer;
}

.pkContextCMSRichText .pk-slot-messages li
{
height: 20px;
width: 200px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -10px;
margin-left: -100px;
line-height: 20px;
text-align: center;
font-size: 12px;
color: #fff;
}


.pkContextCMSRichText .pk-slot-messages .background
{/* Content Fade-Out Overlay */
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: #fff;
margin: 0;
padding: 0;
height: auto;
width: auto;
}

.pkContextCMSRichText .pk-slot-messages .message
{
position: relative;
z-index: 1;
}

.pkContextCMSRichText b,
.pkContextCMSRichText strong
{
font-weight: bold;
}

.pkContextCMSRichText h3
{
font-size: 150%;
}

.pkContextCMSRichText h4
{
font-size: 125%;
}

.pkContextCMSRichText h5
{
font-size: 90%;
}

.pkContextCMSRichText h6
{
font-size: 90%;
}

.pkContextCMSRichText ol
{
list-style: inside decimal;
}

.pkContextCMSRichText ul
{
list-style: inside disc;
}

.pk-slot-is-editable.pkContextCMSRichText:hover .pk-slot-messages
{
display: block;
}

/* TBB: some specific slot types should not superimpose the buttons on the content.
  But ALL standard editing forms should not. */
.pk-slot-is-editable.pkContextCMSRichText .pk-slot-content-container,
.pk-slot-is-editable.pkContextCMSText .pk-slot-content-container,
.pk-slot-is-editable.pkContextCMSBlogPost .pk-slot-content-container,
.pk-slot-is-editable.pkContextCMSBlogCalendar .pk-slot-content-container,
.pk-slot-is-editable.pkContextCMSRawHTML .pk-slot-content-container,
{/* For certain slot types we don't want the buttons superimposed directly on the start (for instance, it's bad with text) */
	padding-top: 22px !important;
}
.pk-slot-form
{/* Creates space for buttons to sit on top of forms when logged-in-editing */
	padding-top: 22px !important;
}

.pk-slot.pkContextCMSRichText h3,
.pk-slot.pkContextCMSRichText h4,
.pk-slot.pkContextCMSRichText h5,
.pk-slot.pkContextCMSRichText h6,
.pk-slot.pkContextCMSRichText p
{
float: left;
width: 100%;
clear: both;
margin: 0 0 10px 0;
}

.pk-slot.pkContextCMSRichText.pk-edit-view
{
}

.pk-slot.pkContextCMSRichText.pk-edit-view .pk-controls
{
display: none;
}

.pk-slot.pkContextCMSRichText.pk-edit-view:hover
{
color: #999;
}

.pk-slot.pkContextCMSRichText.pk-edit-view:hover .pk-controls,
.pk-slot.pkContextCMSRichText.pk-edit-view:hover .pk-messages
{
display: block;
}

.pk-slot .pkContextCMSTextSlot
{
width: 100%;
}

.pk-slot .pkContextCMSRawHTMLSlot
{
width: 100%;
}

.pkContextCMSSlideshow
{
margin-top: 24px; /* Space for the Arrow Controls*/
	margin-bottom: 40px;
}

.pkContextCMSSlideshow .pk-slideshow-description,
.pkContextCMSPDF .pk-pdf-description
{
	font-size: 11px;
	margin: 5px 0;
}

/* == */
/* == Global Toolbar */
/* == */

#pk-global-toolbar
{
position: relative;
display: inline;
float: left;
width: 100%;
border-bottom: 1px solid #eee;
padding: 5px 0 2px 0;
margin-bottom: 5px;
clear: both;
z-index: 999;
}

#pk-global-toolbar li
{
display: inline;
float: left;
position: relative;
/*height: 24px;*/
}

#pk-global-toolbar #the-apostrophe
{
float: left;
height: 20px;
width: 20px;
text-indent: -9999px;
background: #ac9 url(/pkToolkitPlugin/images/apostrophe_logo_20px.png) center center no-repeat;
overflow: hidden;
margin: 2px;
}

#pk-global-toolbar #the-apostrophe.open
{
	background-color:#000;
}

#pk-global-toolbar #the-apostrophe:hover,
#pk-global-toolbar #the-apostrophe.open:hover
{
	background-color: #666;
}

#pk-global-toolbar .pk-global-toolbar-buttons
{
display: none;
float: left;
margin-right: 5px;
}

#pk-global-toolbar .pk-login
{
	float: right;
	display: inline;
	margin-right:5px;
	line-height: 20px;
}

#pk-global-toolbar #pk-logged-in-as
{
	float: left;
	line-height: 20px;
	padding-right: 5px;
}

#pk-global-toolbar #pk-logged-in-as a
{
	text-decoration: underline;
}

#pk-global-toolbar #pk-logged-in-as a:hover
{
	color: #000;
}

/* == */
/* Apostrophe BREADCRUMB =========================== */
/* == */

#pk-breadcrumb
{
position: relative;
width: auto;
float: left;
font-size: 12px;
line-height: 20px;
height: 20px;
}

#pk-breadcrumb a
{
color: #333;
text-decoration: none;
float: left;
display: inline;
}

#pk-breadcrumb a:hover
{
text-decoration: underline;
}

#pk-breadcrumb form
{
display: inline;
float: left;
width: auto;
z-index: 2;
}

#pk-breadcrumb h2
{
font-size: 18px;
}

#pk-breadcrumb li
{
margin-right: 5px;
}

#pk-breadcrumb .pk-breadcrumb-title
{
float: left;
display: inline;
width: auto;
line-height: 24px;
}

#pk-breadcrumb .pk-breadcrumb-title.current-page
{
font-size: 18px;
line-height: 20px;
height: 20px;
letter-spacing: -.0125em;
font-weight: normal;
position: relative;
text-transform: capitalize;
margin-right: 0px;
}

#pk-breadcrumb .current-page .epc-rename-button
{
padding: 0px 3px 0 3px;
white-space: nowrap;
cursor:text;
}

#pk-breadcrumb .pk-breadcrumb-slash
{
float: left;
display: inline;
width: auto;
height: 20px;
top: 2px;
margin: 0 8px 0 5px;
font-size: 14px;
color: #333;
}

#pk-breadcrumb a.epc-rename-button:hover
{
background-color: #eee;
text-decoration: none;
/*border-bottom: 1px solid #eee;*/
}

#pk-breadcrumb .epc-form
{
background: #fff;
float: left;
/* Width set with JQuery in _breadcrumb.php */
}

#pk-breadcrumb .epc-form a,
#pk-breadcrumb .epc-form input
{
float: left;
display: inline;
font-size: 12px;
/*margin: 0 2px;*/
}

#pk-breadcrumb .epc-form #id
{
display: none;
}

#pk-breadcrumb .epc-form span,
#pk-breadcrumb .epc-form-cancel
{
font-size: 12px;
letter-spacing: 0 !important;
line-height: 20px;
}

#pk-breadcrumb .epc-form-cancel
{
color: #333;
text-transfsorm: lowercase; /* LOL @ Rick */
}

#pk-breadcrumb .epc-form-cancel:hover
{
text-decoration: underline;
}

#pk-breadcrumb .pk-form-controls
{
background-color: #fff;
padding-left: 1px;
float: left;
display: inline;
}

#pk-breadcrumb .pk-form-controls *
{
display: inline;
float: left;
}

#pk-breadcrumb .pk-form-controls li
{
margin-right: 1px;
position: relative;
}

#pk-breadcrumb .pk-form-controls .pk-i
{
margin: auto;
}

#pk-breadcrumb input.pk-breadcrumb-input
{
position: relative;
top: -1px;
background: #fff;
color: #333;
font: 18px/22px Arial, Sans-serif;
letter-spacing: -.0125em;
float: left;
padding: 0 0 0 2px;
margin: 0;
width: 100%;
height: 20px;
border: 1px solid #ddd;
clear: right;
}

#pk-breadcrumb input.pk-breadcrumb-create-childpage-title
{
width: 180px;
}

#pk-breadcrumb a.pk-page-settings-button
{
float: left;
display: inline;
height: 20px;
width: 20px;
line-height: 20px;
margin: 0;
overflow: hidden;
text-indent: -9999px;
background: url(/pkToolkitPlugin/images/pk-icon-page-settings.png) no-repeat 0 0;
position: relative;
}

#pk-breadcrumb a.pk-page-settings-button:hover
{
background-position: 0 -40px;
}

#pk-breadcrumb a.pk-page-settings-button.close
{
display: none;
background-position: 0 -20px;
}

#pk-breadcrumb .pk-page-settings-loading
{
	float: left;
	display: inline;
}

.pk-login a.pk-personal-settings-button
{
/*float: left;
display: inline;
height: 20px;
width: 20px;
line-height: 20px;
margin: 0;
overflow: hidden;
text-indent: -9999px;
background: #666 url(/pkToolkitPlugin/images/pk-icon-settings.png) top left no-repeat;
position: relative;
*/}

.pk-login a.pk-personal-settings-button:hover
{
/*background-color:#333;*/
}

.pk-login a.pk-personal-settings-button.close
{
/*display: none;*/
/*background-color: #333;*/
}

.pk-login a.pk-personal-settings-button.close:hover
{
/*	background-color: #666;*/
}

.pk-login .pk-personal-settings-loading
{
float:right;
margin:0 0 0 5px
}

#pk-breadcrumb .pk-context-cms-breadcrumb-add-controls
{
display: inline;
float: left;
width: 110px;
}

#pk-breadcrumb .pk-context-cms-breadcrumb-add-controls input,
#pk-breadcrumb .pk-context-cms-breadcrumb-add-controls span,
#pk-breadcrumb .pk-context-cms-breadcrumb-add-controls a
{
float: left;
line-height: 20px;
vertical-align: baseline;
}


/* == */
/* Apostrophe #pk-page-settings =========================== */
/* == */

#pk-global-toolbar li.pk-page-settings-container,
#pk-global-toolbar li.pk-personal-settings-container
{
position: absolute;
top: 29px;
left: 0;
background-color: #fff;
float: left;
display: inline;
width: 100%;
height: auto;
z-index: 999;
}

#pk-page-settings #pk-page-settings-shadow img
{
height: 11px;
width: 100%;
}

#pk-page-settings,
#pk-personal-settings
{
position: relative;
display: none;
float: left;
width: 100%;
margin: 10px 0 0;
padding: 0;
color: #333;
border-top: 1px solid #ddd;
border-bottom: solid 10px #eee;
}

#pk-page-settings-form,
#pk-personal-settings-form
{
width: auto;
float: left;
display: inline;
margin: 0 28px;
padding: 20px 0;
}

#pk-page-settings-heading,
#pk-personal-settings-heading
{
margin: 20px 0 0 0;
font-size: 16px;
}

#pk-personal-settings-heading
{
	margin: 0 0 10px;
}

#pk-personal-settings-heading span
{
	color:#ac3;
}

#pk-page-settings h4
{
font-size: 12px;
font-weight: bold;
margin: 0 0 10px 0;
}

#pk-page-settings .pk-form-row,
#pk-personal-settings .pk-form-row
{
margin: 10px 0px 10px 0;
float: left;
display: inline;
clear: both;
width: 100%;
}

#pk-page-settings .pk-form-row label,
#pk-personal-settings .pk-form-row label
{
/*position: relative;
top: 1em;
left: -120px;
display: block;
width: 120px;*/
float:left;
width: 120px;
line-height: 20px;
}

#pk-page-settings-left,
#pk-page-settings-right
{
float: left;
width: 460px;
margin: 10px 0 0 0;
}

#pk-page-settings-left
{
margin-right: 20px;
}

#pk-page-settings-right h4
{
margin-top: 10px;
line-height: 20px;
}

#pk-page-settings-footer,
#pk-personal-settings-footer
{
float: left;
margin-top: 10px;
padding-top: 10px;
width: 100%;
}

#pk-page-settings-footer li
{
height: auto;
padding: 0;
line-height: 24px;
}

#pk-page-settings-footer li.last
/* float the delete button all the way right*/
{
float: right;
}

#pk-page-settings-form #settings_slug
{
width: 240px;
}

#pk-page-settings-form .pk-form-row input,
#pk-page-settings-form .pk-form-row select,
#pk-page-settings-form .pk-form-row textarea,
#pk-personal-settings-form .pk-form-row input,
#pk-personal-settings-form .pk-form-row select,
#pk-personal-settings-form .pk-form-row textarea
{
font-size: 12px;
font-family: arial, sans-serif;
border: 1px solid #e2e2e2;
padding: 2px 1px;
}

#pk-page-settings-form .pk-page-settings-status
{
float: left;
line-height: 20px;
clear: right;
width: 340px;
}

#pk-page-settings-form #pk-page-settings-note
{
float: left;
clear: both;
width: 360px;
font-size: 11px;
color: #999;
margin-top: 10px;
}

#pk-page-settings #pk-page-settings-right .pk-page-settings-inherited-editors,
#pk-page-settings #pk-page-settings-right .pk-page-settings-local-editors
{
width: 170px;
float: left;
}

#pk-page-settings .pk-radio-select-container
{
display: block;
float: left;
width: 100%;
}

#pk-page-settings .radio_list
{
float: left;
width: 100%;
clear: both;
}

#pk-page-settings .radio_list li
{
float: left;
position: relative;
width: 120px;
/*	clear: both;*/
	margin: 0 0 10px 0;
}

#pk-page-settings .radio_list li input
{
position: relative;
float: left;
line-height: 20px;
margin: 3px 0 !important;
}

#pk-page-settings .radio_list li label
{
width: auto;
position: absolute;
top: 0;
left: 20px;
line-height: 20px;
margin: 0;
}

#pk-page-settings .pk-page-settings-local-editors a
{
color: #333;
}

#pk-page-settings .pk-page-settings-local-editors a:hover
{
	text-decoration: underline;
}

#pk-page-settings .pk-page-settings-local-editors li
{
width: 180px;
height: 20px;
padding: 0;
margin: 0;
}

#pk-page-settings .pk-page-settings-local-editors a
{
position: relative;
float: left;
width: 100%;
height: 20px;
line-height: 20px;
}

#pk-page-settings .pk-page-settings-local-editors a span,
a.pk-multiple-select-remove span
{
display: inline;
position: absolute;
float: left;
width: 20px;
height: 20px;
text-indent: -9999px;
overflow: hidden;
background: url(/pkToolkitPlugin/images/pk-icon-close-small.png) 0 0 no-repeat;
}

#pk-page-settings .pk-page-settings-local-editors a:hover
{
text-decoration: none;
color: #333;
}

#pk-page-settings .pk-page-settings-local-editors a:hover span,
a.pk-multiple-select-remove:hover span
{
background-position: 0 -20px;
}

/* == */
/* == pk_tab_navigation == */
/* == */
#pk-tab-navigation
{
	float: left;
	display: inline;
	width: 100%;
	clear: both;
	margin: 20px 0;
}

#pk-tab-navigation .pk-tab-nav-item
{
	float: left;
	display: inline;
	width: 118px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #eee;
	border-bottom: 0;
	border-right: 0;
}

#pk-tab-navigation .pk-tab-nav-item.last
{
	border-right: 1px solid #eee;
}

#pk-tab-navigation .pk-tab-nav-item a
{
	float: left;
	display: inline;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #333;
	text-align: center;	
}

#pk-tab-navigation .pk-tab-nav-item.pk-current-page a,
#pk-tab-navigation .pk-tab-nav-item a:hover
{
	background-color: #eee;
	color:#000;
}

/* == */
/* == pk_pager_navigation == */
/* == */

.pk_pager_navigation
{
float: left;
display: inline;
overflow: hidden;
margin: 10px 0;
font-size: 11px;
width: 100%;
}

.pk_pager_navigation a,
.pk_pager_navigation span
{
display: inline;
float: left;
height: 20px;
line-height: 20px;
}

.pk_pager_navigation .pk_page_navigation_number
{
padding: 0 6px;
}

.pk_pager_navigation span.pk_page_navigation_number.pk_pager_navigation_disabled
{
background-color: #e2e2e2;
}

.pk_pager_navigation a.pk_page_navigation_number:hover
{
color: #000;
background-color: #e2e2e2;
}

.pk_pager_navigation .pk_pager_navigation_image
{
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat;
display: inline;
float: left;
width: 22px;
height: 20px;
text-indent: -9999px;
}

.pk_pager_navigation a.pk_pager_navigation_image.disabled
{
cursor: default;
}

.pk_pager_navigation a.pk_pager_navigation_first
{
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat top left;
}

.pk_pager_navigation a.pk_pager_navigation_first:hover
{
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat 0px -20px;
}
.pk_pager_navigation a.pk_pager_navigation_previous
{
background-position: -22px 0;
width: 19px;
margin-right: 5px;
}
.pk_pager_navigation a.pk_pager_navigation_previous:hover
{
background-position: -22px -40px !important;
}
.pk_pager_navigation a.pk_pager_navigation_next
{
background-position: -41px 0;
width: 19px;
margin-left: 5px;
}
.pk_pager_navigation a.pk_pager_navigation_next:hover
{
background-position: -41px -60px;
}
.pk_pager_navigation a.pk_pager_navigation_last
{
background-position: -60px 0;
}
.pk_pager_navigation a.pk_pager_navigation_last:hover
{
background-position: -60px -80px;
}

.pk_pager_navigation span.pk_pager_navigation_first.pk_pager_navigation_disabled
{
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat 0px -20px;
text-indent: -999px;
overflow: hidden;
width: 22px;
}

.pk_pager_navigation span.pk_pager_navigation_previous.pk_pager_navigation_disabled
{
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat -22px -40px;
text-indent: -999px;
overflow: hidden;
width: 19px;
margin-right: 5px;
}

.pk_pager_navigation span.pk_pager_navigation_last.pk_pager_navigation_disabled
{
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat -60px -80px;
text-indent: -999px;
overflow: hidden;
width: 22px;
}

.pk_pager_navigation span.pk_pager_navigation_next.pk_pager_navigation_disabled
{
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat -41px -60px;
text-indent: -999px;
overflow: hidden;
width: 19px;
margin-left: 5px;
}
/* [START] CMS Elements and Widgets ============================= */

/* == SEARCH BOX == */

.pk-search-form
{
position: relative;
height: 20px;  /* JB: I restored this, who turned it off, why? /* this might need to be restored, but for now...*/
width: 240px;
}

/*.pk-search-form.media
{
height: auto;
}
rb: I turned this off, it was breaking the media search, not sure where it came from
*/

.pk-search-form span.pk-search-field
{
position: absolute;
top: 0;
left: 0;
background: url(/pkContextCMSPlugin/images/pk-search-bg-240.png) no-repeat 0 0;
width: 240px;
height: 20px;
}

.pk-search-form span.pk-search-field input
{
position: absolute;
top: 0;
left: 9px;
font: 12px Arial, Helvetica, Sans-serif;
border: 0 none;
padding: 3px 0 0 0;
width: 210px;
background: transparent;
}

.pk-search-form span.pk-search-submit
{
position: absolute;
right: 0;
top: 0;
height: 20px;
width: 29px;
display: block;
border: none !important;
z-index: 2;
}

.pk-search-form input.pk-search-submit
{
padding: 0;
width: 29px;
height: 20px;
border: none !important;
position: absolute;
top: 0;
right: 0;
background: url(/pkContextCMSPlugin/images/pk-search-submit.png) no-repeat 0 0;
}

.pk-search-form input.pk-search-submit:hover
{
background-position: 0 -20px;
cursor: pointer;
}


/* [START] pk-feedback-form */

#feedback-form-container
{
display: none;
position: absolute;
right: 0;
bottom: 0;
z-index: 999;
background: #fff;
padding: 10px;
border: 1px solid #ddd;
}

#pk-feedback-form
{
margin: 10px 0;
}

#pk-feedback-form .form-row label
{
display: block;
float: left;
text-align: left;
width: 120px;
color: #666;
font-weight: normal !important;
text-transform: capitalize;
}

#pk-feedback-form .form-row.submit
{
margin-left: 120px;
}

#feedback-link
{
text-align: right;
text-transform: capitalize;
}

#feedback-submitted
{
text-align: right;
}

/* == */
/* ==  PK-SUBNAV */
/* == */

#pk-subnav
{
}

#pk-subnav .pk-search-form
{
margin-bottom: 20px;
float: left;
display:inline;
}

#pk-subnav .pk-search-form
{
background: url(/pkContextCMSPlugin/images/pk-search-bg-180.png) no-repeat 0 0;
width: 180px;
}

#pk-subnav .pk-search-form .pk-search-field
{
width: 150px;
}

#pk-subnav .pk-navcolumn li
{
position: relative;
line-height: 20px;
margin-bottom: 5px;
}

#pk-subnav .pk-navcolumn li .pk-drag
{
float: right;
position: relative;
margin-left: 10px;
cursor:move;
}

.pk-archived-page
{ /* pkUI Makes Unpublished pages 50% Opacity */
text-decoration: line-through;
}

/* == */
/* ==  style for bundled layout.php */
/* == */

#pk-wrapper
{
	width: 960px;
	margin: 0 auto;
}

#pk-header,
#pk-content
{
	float: left;
	display: inline;
	position: relative;
	clear: both;
	width: 100%;
}

#pk-subnav
{
	width: 200px;
	margin: 0 40px 0 0;
	float:left;
	display:inline;
	position:relative;
}

.pk-logged-in-as
{
	padding-right: 10px;
	line-height: 20px;
}

.pk-logged-in-as span
{
	color: #666;
}