
/* ================================================================================================
* pkContextCMS Button Styles
*	Site-wide for both Frontend & Admin
* ================================================================================================
*/

a.pk-btn,
span.pk-btn,
.pk-radio-select-container a {
position: relative;
height: 20px;
font-size: 12px;
line-height: 20px;
padding: 0 0 0 18px;
float: left;
display: inline;
white-space: nowrap;
background: url(/pkContextCMSPlugin/images/pk-btn.png) 0 0 no-repeat;
color: #EF9920 !important;
text-decoration: none !important;
margin-right: 15px;
z-index:9999;
text-indent:-9px;
}

a.pk-btn span,
span.pk-btn span {
position: absolute;
right: -9px;
top: 0;
display: block;
height: 20px;
width: 9px;
background: #fff url(/pkContextCMSPlugin/images/pk-btn.png) -951px 0 no-repeat;
}

a.pk-btn.png24,
span.pk-btn.png24
{
	background-image: url(/pkContextCMSPlugin/images/pk-btn-24bit.png);
	background-color: transparent;
	margin-right: 9px;
}

a.pk-btn.png24 span,
span.pk-btn.png24 span
{
	background-color: transparent;
	background: transparent url(/pkContextCMSPlugin/images/pk-btn-24bit.png) -951px 0 no-repeat;
}

a.pk-btn:hover,
a.pk-btn:hover span,
a.pk-btn.icon:hover {
background-position: 0 -20px;
color: #333 !important;
text-decoration: none !important;
}

span.pk-btn,
span.pk-btn span {
background-position: 0 -40px;
color: #999;
cursor: default;
/*	-moz-user-select:none; /* I like this - but it's not necessary	*/
}


a.pk-btn:hover span {
background-position: -951px -20px;
}

span.pk-btn span {
background-position: -951px -40px;
}


a.b {/* BLUE BUTTON */
	color: #13A0BC;
}

a.cancel,
a.pk-cancel {
color: #15A1BD !important;
text-transform: lowercase; /* LOL @ Rick */
line-height: 20px;
letter-spacing: 0 !important;
}

span.or {
line-height: 20px;
margin: 0 5px;
display: inline;
float: left;
color: #999;
letter-spacing: 0 !important;
text-transform: lowercase;
}

a.cancel:hover,
a.pk-cancel:hover {
text-decoration: underline;
letter-spacing: 0 !important;
}

a.pk-btn.icon {/* BUTTON WITH AN ICON */
	text-indent:-9999px;
	width: 20px;
	padding: 0;
}

a.pk-btn.icon span,
a.pk-btn.delete span {/* BUTTON WITH AN ICON HIDE SPAN (If There is One) */
display: none;
}

a.pk-btn.add,
span.pk-btn.add {/* BUTTON WITH ADD ICON */
background-image: url(/pkContextCMSPlugin/images/pk-btn-add.png);
padding-left: 29px;
letter-spacing: 0 !important;
}

a.pk-remove:hover,
a.pk-btn.icon:hover,
a.pk-btn.delete:hover {
background-position: 0 -20px;
}

a.pk-btn.calendar {/* BUTTON WITH Calendar ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-calendar.png);
}

a.pk-btn.clock {/* BUTTON WITH Clock ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-clock.png);
}

a.pk-btn.revert {/* BUTTON WITH Revert ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-revert.png);
}

a.pk-btn.drag {/* BUTTON WITH Drag ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-drag.png);
}

a.pk-btn.trash {/* BUTTON WITH Trash ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-trash.png);
}

a.pk-btn.arrow-left {/* BUTTON WITH Arrow Left ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-arrow-left.png);
}

a.pk-btn.arrow-right {/* BUTTON WITH Arrow Right ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-arrow-right.png);
}

a.pk-btn.close {/* BUTTON WITH Close ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-close.png);
}

a.pk-btn.close-small {/* BUTTON WITH Close Small ICON */
	background-image: url(/pkContextCMSPlugin/images/pk-icon-close-small.png);
}

#pk-context-cms-breadcrumb span.pk-context-cms-delete-action a {
display: inline-block;
text-indent: -9999px;
height: 16px;
width: 16px;
line-height: 36px;
background: url(/pkContextCMSPlugin/images/pk-breadcrumb-delete.png) no-repeat top left;
}

#pk-context-cms-breadcrumb span.pk-context-cms-delete-action a:hover {
background-position: bottom left;
}

/* BIG ANCHOR BUTTON */

a.pk-btn.big,
span.pk-btn.big {
height: 30px;
font-size: 18px;
line-height: 30px;
padding: 0 14px;
background: url(/pkContextCMSPlugin/images/pk-btn-big.png) 0 0 no-repeat;
}

a.pk-btn.big span,
span.pk-btn.big span {
height: 30px;
width: 14px;
background: url(/pkContextCMSPlugin/images/pk-btn-big.png) -946px 0 no-repeat;
}

a.pk-btn.big:hover {
background-position: 0 -30px;
}

span.pk-btn.big {
background-position: 0 -60px;
}

a.pk-btn.big:hover span {
background-position: -946px -30px;
}

span.pk-btn.big span {
background-position: -946px -60px;
}


/* BANNER GO ANCHOR BUTTON */

a.pk-btn.go {
height: 25px;
font-size: 18px;
line-height: 23px;
padding: 0 0 0 18px;
width: 130px;
background: url(/pkContextCMSPlugin/images/pk-btn-go.png) 0 0 no-repeat;
}

/* TBB: these need enhancement */
.pk-radio-select-container a {
color: #13A0BC !important;
margin: 0;
margin-bottom: 5px;
background-position: top center;
border-left: 1px solid #e2e2e2;
padding-right: 9px;
}


.pk-radio-select-container a:hover {
color: #333 !important;
background-position: center -20px;
}

.pk-radio-select-container a.first {
margin-right: 0;
border: none;
background-position: top left;
}

.pk-radio-select-container a.last {
background-position: top right;
border-left: 1px solid #e2e2e2;
padding-left: 15px;
}

.pk-radio-select-container a.first:hover {
background-position: 0 -20px;
}

.pk-radio-select-container a.last:hover {
background-position: right -20px;
}

.pk-radio-select-container a.pk-radio-option-selected {
color: #fff !important;
background-position: center -60px;
}

.pk-radio-select-container a.pk-radio-option-selected:hover {
color: #fff !important;
cursor: default;
}

.pk-radio-select-container a.pk-radio-option-selected.first {
background-position: left -60px;
}

.pk-radio-select-container a.pk-radio-option-selected.last {
background-position: right -60px;
}


.pk-note {
font-size: 11px;
font-style: italic;
color: #999;
}


/* CMS Pill Button */


.pk-multi-button {
float: left;
width: 100%;
list-style: none !important;
list-style-position: outside !important;
}

.pk-multi-button li {
float: left;
margin: 10px 0;
}

.pk-multi-button li a {
color: #13A0BC;
position: relative;
height: 20px;
font-size: 12px;
line-height: 20px;
padding: 0 9px;
float: left;
display: inline;
white-space: nowrap;
background: url(/pkContextCMSPlugin/images/pk-btn.png) 0 0 no-repeat;
text-decoration: none;
margin: 10px 0;
}

.pk-multi-button li a:hover {
color: #333;
}

.pk-multi-button li.last a:hover {
background-position: right -20px;
}

.pk-multi-button li.first a:hover {
background-position: 0 -20px;
}

.pk-multi-button li.middle a:hover {
background-position: center -20px;
}

.pk-multi-button li.first a:active,
.pk-multi-button li.middle a:active {
background-position: 0 -40px;
}

.pk-multi-button li.middle a {
background-position: top center;
border-left: 1px solid #e2e2e2;
}

.pk-multi-button li.last a {
background-position: top right;
border-left: 1px solid #e2e2e2;
}

.pk-multi-button li a.selected:hover,
.pk-multi-button li a.selected {
color: #fff !important;
cursor: default;
background-position: bottom center;
}

.pk-multi-button li.first a.selected:hover,
.pk-multi-button li.first a.selected {
background-position: bottom left;
}


.pk-multi-button li.last a.selected:hover,
.pk-multi-button li.last a.selected {
background-position: bottom right;
}
