/* ================================================================================================
* Reset Styles
*	Eric Meyer's Reset CSS -- http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
* ================================================================================================
*/

@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

* { 
	margin: 0; 
	padding: 0;
	}

/* TBB: in IE6 (and maybe IE7?), an explicit setting for
 * vertical-align: breaks <img align="left">. Strange
 * but true. align="left" is an anachronism but 
 * Study Abroad is using it courtesy of FCK's image editor
 */

img {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
	/* vertical-align: baseline; */
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/* [START] pkContextCMS BREADCRUMB =========================== */

#pk-context-cms-breadcrumb, /* CMS and Non-CMS Breadcrumb styles - Non-CMS could be broken out and dupilicated across plugin css that uses breadcrumb for release*/
#pk-breadcrumb {
position: relative;
top: 4px;
width: 960px;
float: left;
margin: 40px 0;
font-size: 12px;
line-height: 24px;
height: 24px;
}

#pk-admin-bar a,
#pk-context-cms-breadcrumb a,
#pk-breadcrumb a {
color: #13A0BC;
text-decoration: none;
display:  inline;
float: left;
}

#pk-context-cms-breadcrumb a:hover,
#pk-breadcrumb a:hover {
text-decoration: underline;
}

#pk-admin-bar .you-are-here,
#pk-context-cms-breadcrumb .you-are-here,
#pk-breadcrumb .you-are-here {
display: inline;
font-size: 24px;
letter-spacing: -.025em;
color: #13A0BC;
font-weight: normal;
float: left;
position: relative;
top: -4px;
text-transform: capitalize;
}

#pk-context-cms-breadcrumb .you-are-here a.pk-btn {
position: relative;
top: 2px;
z-index:1;
}

#pk-context-cms-breadcrumb form {
display: inline;
float: left;
width: auto;
z-index:2;
top: -1px;
}

#pk-context-add-child-form
{
	position: absolute;
	top: 0;
	left: 0;
}

#pk-context-add-child-form * {
font: 12px/1.4 Arial, sans-serif;
}

#pk-admin-bar .pk-breadcrumb-slash,
#pk-context-cms-breadcrumb .pk-context-cms-breadcrumb-slash,
#pk-breadcrumb .pk-breadcrumb-slash {
float: left;
display: inline;
width: auto;
margin: 0 5px;
}

#pk-context-cms-breadcrumb a.pk-context-cms-lock-button {
display: inline-block;
height: 16px;
line-height: 36px;
padding-right: 20px;
margin-right: 10px;
text-indent: -9999px;
background: url(/pkContextCMSPlugin/images/pk-breadcrumb-unlock.png) no-repeat top right;
}

#pk-context-cms-breadcrumb a.pk-context-cms-lock-button:hover {
background-position: bottom right;
}

#pk-context-cms-breadcrumb a.pk-context-cms-unlock-button {
display: inline-block;
height: 16px;
line-height: 36px;
padding-right: 20px;
margin-right: 10px;
text-indent: -9999px;
background: url(/pkContextCMSPlugin/images/pk-breadcrumb-lock.png) no-repeat top right;
}

#pk-context-cms-breadcrumb a.pk-context-cms-unlock-button:hover {
background-position: bottom right;
}

#pk-context-cms-breadcrumb .pk-context-cms-rename
{
	font-size:24px;
}

#pk-context-cms-breadcrumb .pk-context-cms-rename.editing {
width: 240px;
}

#pk-context-cms-breadcrumb a.epc-rename-button {
padding: 3px;
position: relative;
top: -2px;
}

#pk-context-cms-breadcrumb a.epc-rename-button:hover {
background-color: #eee;
text-decoration: none;
}

#pk-context-cms-breadcrumb .epc-form {
position: absolute;
width: 100%;
right: 0;
}

#pk-context-cms-breadcrumb .epc-form a,
#pk-context-cms-breadcrumb .epc-form input {
float: left;
display: inline;
font-size: 12px;
/*margin: 0 2px;*/
}

#pk-context-cms-breadcrumb .epc-form #id {
display: none;
}

#pk-context-cms-breadcrumb .epc-form span,
#pk-context-cms-breadcrumb .epc-form-cancel {
font-size: 12px;
letter-spacing: 0 !important;
line-height: 20px;
}

#pk-context-cms-breadcrumb .epc-form-cancel {
color: #15A1BD !important;
text-transform: lowercase; /* LOL @ Rick */
}

#pk-context-cms-breadcrumb .epc-form-cancel:hover {
text-decoration: underline;
}

#pk-context-cms-breadcrumb .epc-rename-button-controls {
	float: left;
	width: 240px;
	clear: both;
}


#pk-context-cms-breadcrumb input.pk-context-cms-add-page-title,
#pk-context-cms-breadcrumb .epc-form input.epc-value {
border: none;
background: transparent;
color: #333;
font: 24px/1 Arial, Sans-serif;
position: relative;
background-color: #eee;
letter-spacing: -.025em;
float: left;
padding: 0 0 0 2px;
margin: 0;
/*top: -2px;*/
width: 100%;
clear: right;
text-transform: capitalize;
}

#pk-context-cms-breadcrumb a.pk-context-cms-settings-button {
float: left;
display: inline;
height: 20px;
width: 20px;
line-height: 20px;
/*margin: 0 0 0 5px;*/
margin: 0;
overflow: hidden;
text-indent: -9999px;
background: url(/pkContextCMSPlugin/images/pk-icon-settings.png) no-repeat 0 0;
position: relative;
top: -2px;
}

#pk-context-cms-breadcrumb a.pk-context-cms-settings-button:hover {
background-position: 0 -20px;
}

#pk-context-cms-breadcrumb a.pk-context-cms-settings-button.loading {
background-image: url(/pkContextCMSPlugin/images/pk-icon-settings-ani.gif);
}

#pk-context-cms-breadcrumb a.pk-context-cms-settings-button.close {
display: none;
}

#pk-context-cms-breadcrumb .pk-context-cms-breadcrumb-add-controls {
display: inline;
float: left;
width: 110px;
/*padding: 0 5px;*/
}

#pk-context-cms-breadcrumb .pk-context-cms-breadcrumb-add-controls input,
#pk-context-cms-breadcrumb .pk-context-cms-breadcrumb-add-controls span,
#pk-context-cms-breadcrumb .pk-context-cms-breadcrumb-add-controls a {
float: left;
line-height: 20px;
vertical-align: baseline;
/*margin-right: 5px;*/
}

.pk-home #pk-context-cms-breadcrumb,
.pk-landing #pk-context-cms-breadcrumb {
margin-top: 0;
}

/* [END] pkContextCMS BREADCRUMB =========================== */

/* [START] pkContextCMS PAGE SETTINGS =========================== */

#pk-context-cms-settings {
display: none;
float: left;
width: 100%;
margin-bottom: 40px;
color: #333;
padding: 0 0 10px;
border: 1px solid #e2e2e2;
background: url(/pkContextCMSPlugin/images/pk-special-caution.png) top left repeat-x;
}

#pk-context-cms-settings #pk-context-cms-settings-heading {
margin: 20px 0 0 0;
}

#pk-context-cms-settings h4 {
font-size: 12px;
font-weight: bold;
margin: 0 0 10px 0;
}

#pk-context-cms-settings .pk-context-cms-form-row {
/* TBB: I clobbered position: relative because it was causing the
  managers box to overshadow the editors box, making it
  unclickable (even though it didn't LOOK unclickable) */
margin: 10px 0px 10px 120px;
float: left;
display:inline;
}

/* TBB: I changed to position: relative so it works with more than
  one multiple select etc instead of being fixed at the top of the form */
#pk-context-cms-settings .pk-context-cms-form-row label {
position: relative;
top: 1em;
left: -120px;
display: block;
width: 120px;
}

#pk-context-cms-settings-left,
#pk-context-cms-settings-right {
float: left;
width: 460px;
margin: 10px 0 0 0;
}

#pk-context-cms-settings-left
{
	margin-right: 20px;
}

#pk-context-cms-settings-footer {
float: left;
width: 940px;
margin-top: 10px;
border-top: 1px solid #e2e2e2;
padding-top: 10px;
line-height: 22px;
}

#pk-context-cms-settings-note {
/*	float: left;
width: 960px;
font-style: italic;
margin-top: 10px;*/
}

#pk-context-cms-settings-footer input,
#pk-context-cms-settings-footer span,
#pk-context-cms-settings-footer a {
float: left;
}

#pk-context-cms-settings-footer span,
#pk-context-cms-settings-footer a {
/*	line-height: 22px; fix the lineheight later, after the 'save' button becomes an anchor*/
	margin: 0 0 0 5px;
}

#pk-context-cms-settings-footer a.delete {
float: right;
}

#pk-context-cms-settings-form #settings_slug {
width: 240px;
}

#pk-context-cms-settings-form input,
#pk-context-cms-settings-form select,
#pk-context-cms-settings-form textarea {
font-size: 12px;
font-family: arial, sans-serif;
border: 1px solid #e2e2e2;
padding: 2px 1px;
}

#pk-context-cms-settings #pk-context-cms-settings-right .pk-context-cms-inherited-editors,
#pk-context-cms-settings #pk-context-cms-settings-right .pk-context-cms-local-editors {
width: 170px;
float: left;
}

#pk-context-cms-settings .pk-radio-select-container {
display: block;
float: left;
width: 100%;
}

.pk-multiple-select-list {
margin-top: 10px;
list-style: none !important;
list-style-position: outside !important;
}

#pk-context-cms-settings .pk-context-cms-local-editors a {
color: #13A0BC;
}

#pk-context-cms-settings .pk-context-cms-local-editors li,
ul.pk-multiple-select-list li {
width: 180px;
height: 20px;
padding: 0;
margin: 0;
}

#pk-context-cms-settings .pk-context-cms-local-editors a,
.pk-multiple-select-list li a {
position: relative;
float: left;
width: 100%;
height: 20px;
line-height: 20px;
}

#pk-context-cms-settings .pk-context-cms-local-editors a span,
a.pk-multiple-select-remove span {
display: inline;
position: absolute;
float: left;
width: 20px;
height: 20px;
text-indent: -9999px;
overflow: hidden;
background: url(/pkContextCMSPlugin/images/pk-icon-close-small.png) 0 0 no-repeat;
}

#pk-context-cms-settings .pk-context-cms-local-editors a:hover {
text-decoration: none;
color: #333;
}

#pk-context-cms-settings .pk-context-cms-local-editors a:hover span,
a.pk-multiple-select-remove:hover span {
background-position: 0 -20px;
}

/* [END] pkContextCMS PAGE SETTINGS =========================== */







/* [START] CMS Elements and Widgets ============================= */

.pk-context-cms-loading-ani {
display: none;
}

/* == SEARCH BOX == */

.pk-search-form {
position: relative;
height: 20px;  /* JB: I restored this, who turned it off, why? /* this might need to be restored, but for now...*/
width: 240px;
}

.pk-search-form.media
{
	height: auto;
}

.pk-search-form span.pk-search-field {
position: absolute;
top: 0;
left: 0;
background: url(/pkContextCMSPlugin/images/pk-search-bg-240.png) no-repeat 0 0;
width: 240px;
height: 20px;
}

.pk-search-form span.pk-search-field input {
position: absolute;
top: 0;
left: 9px;
font: 12px Arial, Helvetica, Sans-serif;
border: 0 none;
padding: 3px 0 0 0;
width: 210px;
background: transparent;
}

.pk-search-form span.pk-search-submit {
position: absolute;
right: 0;
top: 0;
height: 20px;
width: 29px;
display: block;
border: none !important;
z-index: 2;
}

.pk-search-form input.pk-search-submit {
padding: 0;
width: 29px;
height: 20px;
border: none !important;
position: absolute;
top: 0;
right: 0;
background: url(/pkContextCMSPlugin/images/pk-search-submit.png) no-repeat 0 0;
}

.pk-search-form input.pk-search-submit:hover {
background-position: 0 -20px;
cursor: pointer;
}

/* == SEARCH BOX Adjustments for Subnav sidebar == */

.subnav .pk-search-form {
width: 178px;
margin-bottom: 20px;
float: left;
}

.subnav .pk-search-form span.pk-search-field {
background: url(/pkContextCMSPlugin/images/pk-search-bg-180.png) no-repeat 0 0;
width: 178px;
}

.subnav .pk-search-form input.pk-search-field {
width: 150px;
}


/* == pk_pager_navigation == */

.pk_pager_navigation {
float: left;
display: inline;
overflow: hidden;
margin: 10px 0;
font-size: 11px;
width: 100%;
}

.pk_pager_navigation a,
.pk_pager_navigation span {
display: inline;
float: left;
height: 20px;
line-height: 20px;
}

.pk_pager_navigation .pk_page_navigation_number {
padding: 0 6px;
}

.pk_pager_navigation span.pk_page_navigation_number.pk_pager_navigation_disabled {
background-color: #e2e2e2;
}

.pk_pager_navigation a.pk_page_navigation_number:hover {
color: #000;
background-color: #e2e2e2;
}

.pk_pager_navigation .pk_pager_navigation_image {
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat;
display: inline;
float: left;
width: 22px;
height: 20px;
text-indent: -9999px;
}

.pk_pager_navigation a.pk_pager_navigation_image.disabled {
cursor: default;
}

.pk_pager_navigation a.pk_pager_navigation_first {
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat top left;
}

.pk_pager_navigation a.pk_pager_navigation_first:hover {
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat 0px -20px;
}
.pk_pager_navigation a.pk_pager_navigation_previous {
background-position: -22px 0;
width: 19px;
margin-right: 5px;
}
.pk_pager_navigation a.pk_pager_navigation_previous:hover {
background-position: -22px -40px !important;
}
.pk_pager_navigation a.pk_pager_navigation_next {
background-position: -41px 0;
width: 19px;
margin-left: 5px;
}
.pk_pager_navigation a.pk_pager_navigation_next:hover {
background-position: -41px -60px;
}
.pk_pager_navigation a.pk_pager_navigation_last {
background-position: -60px 0;
}
.pk_pager_navigation a.pk_pager_navigation_last:hover {
background-position: -60px -80px;
}

.pk_pager_navigation span.pk_pager_navigation_first.pk_pager_navigation_disabled {
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat 0px -20px;
text-indent: -999px;
overflow: hidden;
width: 22px;
}

.pk_pager_navigation span.pk_pager_navigation_previous.pk_pager_navigation_disabled {
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat -22px -40px;
text-indent: -999px;
overflow: hidden;
width: 19px;
margin-right: 5px;
}

.pk_pager_navigation span.pk_pager_navigation_last.pk_pager_navigation_disabled {
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat -60px -80px;
text-indent: -999px;
overflow: hidden;
width: 22px;
}

.pk_pager_navigation span.pk_pager_navigation_next.pk_pager_navigation_disabled {
background: url(/pkToolkitPlugin/images/pk-page-arrows.png) no-repeat -41px -60px;
text-indent: -999px;
overflow: hidden;
width: 19px;
margin-left: 5px;
}

/* == pk-media-slideshow == */

.pk-context-media-show,
.pk-context-media-video {
list-style: none !important;
list-style-position: outside !important;
position: relative;
}

.pk-context-media-show li,
.pk-context-media-video li {
margin: 0;
}

.pk-context-media-choose {
margin: 5px 0;
}

.pk-context-media-show-item {
display: none;
}

#pk-context-media-show-item-0 {
display: block;
}

.pk-context-media-video
{
	float: left;
	width: 100%;
	background-color: #e2e2e2;
}

.pk-context-media-show-controls
{
	float: right;
}

.pk-context-media-show-controls a.arrow-right
{
	margin: 0 0 5px 5px;
}

/* [END] CMS Elements and Widgets ============================= */

/* [START] pkContextCMSPlugin Slot Specific ============================= */

.pk-context-cms-contents-container
{
	float: left;
	width: 100%;
}

#pk-context-cms-contents-container-top
{
	width: 700px;
	float: right;
	margin-right: 20px;
}

#pk-context-cms-contents-container-footer
{
	width: 680px;
}

#content-top-1
{
	text-align:right;
	line-height: 20px;
	font-size: 11px;
	color: #888;
	min-height:20px !important;
	margin: 0;
}

#content-top-1 a:link
{
	color: #888;
	text-decoration:none;
}

#content-top-1 a:hover
{
	color: #000;
}

#content-top-1 ul li
{
display:inline;
padding:0 10px 0 0;
}

#pk-context-cms-contents-container-top .pk-context-cms-add-slot-controls,
#pk-context-cms-contents-container-top br.c
{
display:none;	
}

.pk-context-cms-add-slot-controls
{
	float: left;
	width: 100%;
	position: relative;
	min-height: 30px;
}

.pk-context-cms-add-slot-form select,
.pk-context-cms-add-slot-form input,
.pk-context-cms-add-slot-form a,
.pk-context-cms-add-slot-form span
{
	float: left;
	display: inline;
}

.pk-context-cms-contents-body {
float: left;
width: 99%;
}

.pk-context-cms-slot {
position: relative;
float:left; /*3.11.09 Added float property to cms slot to fix a position problem with the cms controls*/
width: 100%;
clear: both;
margin-bottom: 20px;
}

.pk-context-cms-contents
{
	float: left;
	width: 100%;
}

.pk-context-cms-slot-controls {
position: absolute;
top: 6px;
left: -20px;
}

.pk-context-cms-slot-history,
.pk-context-cms-slot-controls a {
display: block;
width: 20px;
height: 20px;
text-indent: -9999px;
overflow: hidden;
}

.pk-context-cms-slot-controls-up {
background: url(/pkContextCMSPlugin/images/pk-icon-arrow-up.png) 0 0 no-repeat;
}

.pk-context-cms-slot-controls-down {
background: url(/pkContextCMSPlugin/images/pk-icon-arrow-down.png) 0 0 no-repeat;
}

.pk-context-cms-slot-controls-delete {
background: url(/pkContextCMSPlugin/images/pk-icon-close.png) 0 0 no-repeat;
}

.pk-context-cms-slot-history {
float: left;
background: url(/pkContextCMSPlugin/images/pk-icon-revert.png) 0 0 no-repeat;
position:relative;
top:5px;
}

.pk-context-cms-slot-history:hover,
.pk-context-cms-slot-controls-up:hover,
.pk-context-cms-slot-controls-down:hover,
.pk-context-cms-slot-controls-delete:hover {
background-position: 0 -20px;
}
.pkContextCMSTextSlot.multi-line {
display: block;
width: 99%;
font: 12px/1.25 Arial;
border: none;
background: none;
}

.pkContextCMSTextSlot,
.pkContextCMSTextSlot:focus {
outline: 0 !important;
}

/* [END] pkContextCMSPlugin Slot Specific ============================= */

.pk-context-cms-archived {
text-decoration: line-through;
}


/* [START] pk-feedback-form */

#feedback-form-container {
  display: none;
	position:absolute;
	right:0;
	bottom:0;
	z-index:999;
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
}

#pk-feedback-form {
margin: 10px 0;
}

#pk-feedback-form .form-row label {
display: block;
float: left;
text-align: left;
width: 120px;
color: #666;
font-weight: normal !important;
text-transform: capitalize;
}

#pk-feedback-form .form-row.submit {
margin-left: 120px;
}

#feedback-link
{
	text-align:right;
	text-transform: capitalize;
}

#feedback-submitted
{
  text-align:right;
}

/* [END] pk-feedback-form */

/* [START] pk-special-fade ====== | Fade out right side of overflowing content | =======*/

.pk-special-fade-right
{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
	background: url(/pkContextCMSPlugin/images/pk-special-fade-fff-r.png);
	z-index: 9999;
}








/* The below stuff needs to get re-written */




/* [START] pkContextCMS TOP NAVIGATION (Using Tables) ========================= */

#pk-context-cms-site-navigation {
}


/* [END] pkContextCMS TOP NAVIGATION ========================= */



/* [START] pkContextCMS GENERAL TEMPLATE STYLES ======================== */

.subnav {
position: relative;
top: 0;
left: 0;
float: left;
display: inline;
margin-right: 40px;
width: 200px;
}

.subnav .content-container {
position: relative;
z-index: 2;
width: 198px;
border: 1px solid #e9e9e9;
border-bottom: none;
padding-bottom: 10px;
}

.content-container {
float: left;
display: inline;
width: 100%;
}

.content-container .content {
margin: 0;
position: relative;
z-index: 3;
background: none;
}

.pk-context-cms-normal-view table
{
	margin: 5px;
	border-spacing: 1px;
	background-color: #ddd;
}

.pk-context-cms-normal-view td
{
	padding: 3px;
	background-color: #fff;
	min-width: 50px;
	width: auto !important;
	width:50px;
}

.pk-context-cms-edit,
.pk-context-cms-normal-view.pk-context-cms-editable {
margin: 5px 0 10px 0;
float: left;
width: 99%;
border: 1px dashed #ef9920;
min-height: 50px;
}

.pk-context-cms-edit
{
/*	border-style: solid;*/
}

.pk-context-cms-vc-preview {
float: left;
display: inline;
clear: both;
font-style: italic;
font-size: 11px;
margin-bottom: 10px;
color: #999;
border: 1px dashed #ef9920;
padding: 5px;
}

.pk-context-cms-history-container
{
margin-bottom: 5px;	
}

.caution {
float: left;
margin-bottom: 40px;
color: #333;
padding: 16px 0 10px;
border: 1px solid #e2e2e2;
background: url(/pkContextCMSPlugin/images/pk-special-caution.png) top left repeat-x;
}

.caution-padding {
display: block;
float: left;
margin: 0 10px;
}

/*LINK STYLE FOR RICHTEXT SLOTS*/
.pkContextCMSHandbook a:link,
.pkContextCMSRichText a:link,
.pkContextCMSHandbook a:visited,
.pkContextCMSRichText a:visited {
	color: #13A0BC;
	text-decoration: underline;
}

.pkContextCMSHandbook a:hover,
.pkContextCMSRichText a:hover
{
	color: #000;
}

.pkContextCMSHandbook ol,
.pkContextCMSRichText ol {
list-style: decimal;
list-style-position: inside;
}

.pkContextCMSHandbook ul,
.pkContextCMSRichText ul {
list-style-type: none;
list-style-position: outside;
list-style-image: url(/pkContextCMSPlugin/images/pk-icon-list-bullet.png);
margin: 0 0 10px 20px;
}

/* [END] pkContextCMS GENERAL TEMPLATE STYLES ======================== */


/* [START] pkContextCMS Default Template ======================== */
.pk-default .main {
width: 440px;
position: relative;
top: 0;
left: 0;
float: left;
display: inline;
margin-right: 40px;
}

.pk-default .main .content-container {
position: relative;
z-index: 2;
width: 438px;
}

.pk-default .sidebar {
width: 240px;
position: relative;
top: 0;
left: 0;
float: left;
display: inline;
}

.pk-default .sidebar .content-container {
position: relative;
z-index: 2;
width: 238px;
}

.pk-default .main h3 {
color: #EF9920;
}


/* [END] pkContextCMS Default Template ======================== */


.pk-context-cms-login,
.pk-context-cms-logout {
float: right;
display: inline;
color: #999;
}

.pk-context-cms-login li,
.pk-context-cms-logout li {
float: left;
display: inline;
line-height: 30px;
margin: 0 10px 0 0;
}
